<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Joshua Moracha">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />    
    
</head>
<body>
    <header>
        <div class="container">
            <div id="title">
                <h1>Fast Food Fast</h1>
            </div>
        <nav>
            <ul>
                <li><a href="admin_panel.html">Admin</a></li>             
                <li><a href="register.html">Add Foods</a></li>                
                <li class="current"><a href="index.html">Home</a></li>
            </ul>
        </nav>
        </div>
    </header>
        <div class="container" id="section">            
                    <div id="orders">
                        <div>
                            <h3>Orders</h3>
                            <div id="labels">
                                <h5>Order #</h5>
                                <h5>Customer</h5>
                                <h5>Items</h5>
                                <h5>Quantity</h5>
                                <h5>Total Amount</h5>
                            </div>
                            <div id="o-list">

                            </div>
                        </div>                              
        
                            <!-- To be filled dynamically -->
                
                    </div>  
                    <div id="accepted-orders">
                            <div>
                                    <h3>Accepted Orders</h3>
                                    <div id="labels">
                                        <h5>Order #</h5>
                                        <h5>Customer</h5>
                                        <h5>Items</h5>
                                        <h5>Quantity</h5>
                                        <h5>Total Amount</h5>
                                        <h5 id="stts">Status</h5>
                                    </div>
                                    <div id="ao-list">
                                    
                                    </div>
                                        
                            </div>
                                      

                            
                    </div>
    </div>    
</body>
<script src="../js/admin.js"></script>
<footer>
    <h3>Fast Food Fast &copy; 2018</h3>
</footer>
</html>