<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Joshua Moracha">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />    
    
</head>
<body>
    <header>
        <div class="container">
            <div id="title">
                <h1>Fast Food Fast</h1>
            </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a href="admin_panel.html">Admin</a></li>             
                <li ><span id="add-fds">ADD FOODS</span></li>                
                
            </ul>
        </nav>
        </div>
    </header>
        <div class="container" id="section">            
                    <div id="orders">
                        <div>
                            <h3>Orders</h3>
                            <div id="labels">
                                <h5>Order #</h5>
                                <h5>Customer</h5>
                                <h5>Items</h5>
                                <h5>Quantity</h5>
                                <h5>Total Amount</h5>
                            </div>
                            <div id="o-list">

                            </div>
                        </div>                              
        
                            <!-- To be filled dynamically -->
                
                    </div>  
                    <div id="accepted-orders">
                            <div>
                                    <h3>Accepted Orders</h3>
                                    <div id="labels">
                                        <h5>Order #</h5>
                                        <h5>Customer</h5>
                                        <h5>Items</h5>
                                        <h5>Quantity</h5>
                                        <h5>Total Amount</h5>
                                        <h5 id="stts">Status</h5>
                                    </div>
                                    <div id="ao-list">
                                    
                                    </div>
                                        
                            </div>                                  
                            
                    </div>
    </div>

    <div class="admin-modal">
        <div class="cont">
            <div class="modal-header"><span class="close-btn">X</span></div>
            <form>
                <div class="container">
                    <h1>Add Item</h1>         
                    
        
                    <label for="name">Item Name:</label><br>
                    <input type="text" placeholder="Item Name" name="name" required="true" id="item-name"><br>
        
                    <label for="price">Item Price:</label><br>
                    <input type="text" placeholder="100" name="price" required="true" id="itm-price"><br>
                    <label for="img-name">Image Name:</label><br>
                    <input type="text" placeholder="image_name.png" name="img-name" required="true" id="img"><br>                  
                    
                    <button class="register_btn" id="addItem">Add</button>
                </div>  
                
            </form>
            </div>  
        </div>
    </div>    
</body>
<script src="../js/main.js"></script>
<script src="../js/admin.js"></script>
<footer>
    <h3>Fast Food Fast &copy; 2018</h3>
</footer>
</html>