<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Joshua Moracha">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />    
    <script src="main.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div id="title">
                <h1>Fast Food Fast</h1>
            </div>
        <nav>
            <ul>
                <li><a href="admin_panel.html">Admin</a></li>             
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>                
                <li class="current"><a href="index.html">Home</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section id="items">
        <div class="container">
            <div id="boxes">
                <div class="box">
                    <div class="image">
                        <img src="../static/img/pizza.jpg" alt="">
                    </div>
                    <div class="description">
                        <span class="name">Pizza</span>
                        <span class="price">Kshs 500/=</span><button class="button_1">Add</button>
                    </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/burger.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Burger</span>
                            <span class="price">Kshs 100/=</span><button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/Coca-Cola.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Coke</span>
                            <span class="price">Kshs 50/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/fries.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Fries</span>
                            <span class="price">Kshs 100/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/hotdog.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Hotdog</span>
                            <span class="price">Kshs 80/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/chicken.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Drumsticks</span>
                            <span class="price">Kshs 150/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/wings.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Wings</span>
                            <span class="price">Kshs 120/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                <div class="box">
                        <div class="image">
                            <img src="../static/img/samosa.jpg" alt="">
                        </div>
                        <div class="description">
                            <span class="name">Samosa</span>
                            <span class="price">Kshs 50/=</span>
                            <button class="button_1">Add</button>
                        </div>
                </div>
                
            </div>
        
          <aside id="sidebar">
            
                <div class="food-tray">
                    <h3>Food Tray</h3>
                    <div class="item">
                        <div class="buttons">
                            <span class="delete-btn" ><img src="../static/img/delete-icn.svg" alt=""></span>                        
                        </div>
    
                        <div class="cart-image">
                            <img src="../static/img/Coca-Cola.jpg">                        
                        </div>
    
                        <div class="description">
                            <span>Coke</span>
                        </div>
    
                        <div class="quantity">
                            <button type="text" name="name" type="button" name="button">
                                        <img src="../static/img/minus.svg">
                            </button>
                            <input type="text" name="name" value="1">
                            <button class="plus-button" type="button" name="button">
                                <img src="../static/img/plus.svg">
                            </button>                        
                        </div>
                        <div class="total-price">Kshs 50</div>
                    </div>                                                         
                        <div class="item">
                            <div class="buttons">
                                <span class="delete-btn"><img src="../static/img/delete-icn.svg" alt=""></span>                        
                            </div>
        
                            <div class="cart-image">
                                <img src="../static/img/burger.jpg">                        
                            </div>
                            <div class="description">
                                <span>Burger</span>
                            </div>
        
                            <div class="quantity">
                                <button type="text" name="name" type="button" name="button">
                                            <img src="../static/img/minus.svg">
                                </button>
                                <input type="text" name="name" value="1">
                                <button class="plus-button" type="button" name="button">
                                    <img src="../static/img/plus.svg">
                                </button>                        
                            </div>
                            <div class="total-price">Kshs 100</div>
                        </div>                                      
                                        
                            <div class="item">
                                <div class="buttons">
                                    <span class="delete-btn"><img src="../static/img/delete-icn.svg" alt=""></span>                        
                                </div>
            
                                <div class="cart-image">
                                    <img src="../static/img/fries.jpg">                        
                                </div>
                                <div class="description">
                                    <span>Fries</span>
                                </div>
            
                                <div class="quantity">
                                    <button type="text" name="name" type="button" name="button">
                                                <img src="../static/img/minus.svg">
                                    </button>
                                    <input type="text" name="name" value="1">
                                    <button class="plus-button" type="button" name="button">
                                        <img src="../static/img/plus.svg">
                                    </button>                        
                                </div>
                                <div class="total-price">Kshs 100</div>
                            </div>            
            
         </aside>
        </div>
    </section>
    
</body>
<footer>
    <h3>Fast Food Fast &copy; 2018</h3>
</footer>   
</html>
