<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fast Food Fast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="Joshua Moracha">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />    
    
</head>
<body>
    <header>
        <div class="container">
            <div id="title">
                <h1>Fast Food Fast</h1>
            </div>
        <nav>
            <ul>
                <li><a href="admin_panel.html">Admin</a></li>             
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>                
                <li class="current"><a href="index.html">Home</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section id="items">
        <div class="container">
            <div id="boxes">
                <!-- To be filled dynamically -->               
                
            </div>
        
          <div id="sidebar"> 
                <h3>Food Tray</h3>           
                <div class="food-tray">          

                    <!-- To be filled dynamically -->

                    
                </div>
                <button class="invincible" id="checkout-btn">Checkout</button>         
            
         <div>
        </div>
    </section>
    
</body>
<script src="/js/main.js"></script>
<footer>
    <h3>Fast Food Fast &copy; 2018</h3>
</footer>   
</html>
