<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <section class="form-content">
    <form action="">
        <div class=container id="register">
            <h1>Register</h1>          
            

            <label for="email">Email</label><br>
            <input type="email" placeholder="Your email" name="email" required><br>

            <label for="password">Password</label><br>
            <input type="password" placeholder="Enter password" name="password" required><br>

            <label for="repeat-psw">Repeat Password</label><br>
            <input type="password" placeholder="Repeat password" name="repeat-psw" required><br>
            
            
            <button type="submit" class="register_btn">Register</button>
         
        <div id="signin">
          <p>Already have an account? <a href="login.html">Sign in</a></p>
        </div> 
        </div>
        
    </form>
  </section>    
</body>
</html>