<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
  <section id="content">
    <form action="">
        <div class=container>
            <h1>Register</h1>
            <p>Registration form</p>
            <hr>

            <label for="email">Email</label>
            <input type="email" placeholder="Your email" name="email" required>

            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" required>

            <label for="repeat-psw">Repeat Password</label>
            <input type="password" placeholder="Repeat password" name="repeat-psw" required>
            <hr>
            
            <button type="submit" class="register_btn">Register</button>
        </div>
        
        <div class="container">
          <div id="signin">
            <p>Already have an account? <a href="login.html">Sign in</a></p>
          </div>
        </div>
    </form>
  </section>    
</body>
</html>